<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:replace="teca_digitale :: header"></head>
    <body>
        <script th:inline="javascript">
            /*<![CDATA[*/
                var editableProjects = /*[[${editable_projects}]]*/ true;
                var editorProjects = JSON.parse(/*[[${projects}]]*/ "[]");
            /*]]>*/
        </script>
        <script src="js/import.js" type="text/javascript"></script>
        <div id="blockDisplay" class="modal-backdrop hide fade">
            <div class="modal-body pager">
            	<div class="help-block row"></div>
            	<div class="help-block row"></div>
            	<div class="help-block row"></div>
            	<div class="help-block row"></div>
            	<div class="help-block row"></div>
            	<div class="help-block row"></div>
            	<div class="help-block row"></div>
            	<div class="help-block row"></div>
            	<div class="help-block row"></div>
                <img src="images/progress_loading.gif"></img>
                <h3 id="blockText">Caricamento del processo in corso.</h3>
            </div>
        </div>
        <div th:replace="teca_digitale :: heading"></div>
        <div class="container-fluid">
        	<div class="row-fluid">
        		<div class="span2">
        			<div th:replace="teca_digitale :: menu"></div>
        		</div>
        		<div class="span10 row">
        			<div class="page-menu-header"><h3>Cambio Usage</h3></div>
        		</div>
        		<div class="span9 row">
                    <div class="span12">
                        <div th:replace="teca_digitale :: importArea"></div>
                        <div th:replace="teca_digitale :: jobStatusArea"></div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="teca_digitale :: footer"></footer>
        <div id="historyWindow" class="modal hide fade">
        	<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h4></h4>
			</div>
			<div class="modal-body">
			    <div id="history-error" class="alert alert-error"></div>
                <table id="historyTable" class="table table-condensed"></table>
			</div>
        </div>
        <div class="modal hide fade" id="op-executing-warning">
        	<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h4>Operazione di importazione MAG in esecuzione</h4>
			</div>
			<div class="modal-body">
			    <p><div class="alert alert-warning">Il processo di importazione è attualmente in esecuzione. 
			    Sei sicuro di non voler attenderne la terminazione e cambiare pagina?</div></p>
			</div>
			<div class="modal-footer">
			    <a class="btn btn-default" id="noBtn">No</a>
			    <a class="btn btn-primary" id="yesBtn">Si</a>
			</div>
        </div>
    </body>
</html>