<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:replace="teca_digitale :: header"></head>
    <body>
        <script src="js/oaisets.js" type="text/javascript"></script>
        <div th:replace="teca_digitale :: heading"></div>
        <div class="container-fluid">
        	<div class="row-fluid">
        		<div class="span2">
        			<div th:replace="teca_digitale :: menu"></div>
        		</div>
        		<div class="span10 row">
        			<div class="page-menu-header"><h3>Sets</h3></div>
        		</div>
        		<div class="span9 row">
        			<div class="row-fluid">
                   		<div class="span4">
                   			<img src="images/add.png" width="14" height="14" />
                       		<a class="btn-link" th:href="@{oaisetNew}">Crea Nuovo Set</a>
                   		</div>
                   	</div>
                   	<div class="help-block row"></div>
                    <div class="help-block row"></div>
                    <div class="help-block row"></div>
                    <div class="row-fluid">
                    	<div class="span10">
                            <table id="oaisetTable" class="table table-bordered table-striped"></table>
                            <div class="help-block row"></div>
		                    <div class="help-block row"></div>
		                    <div class="help-block row"></div>
                            <div class="alert alert-error" id="error" style="display: none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="teca_digitale :: footer"></footer>
        <div class="modal hide fade" id="delete-confirm">
        	<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h4></h4>
			</div>
			<div class="modal-body">
			    <p>Sei sicuro di voler procedere con la cancellazione?</p>
			</div>
			<div class="modal-footer">
			    <a class="btn btn-default" id="noBtn">No</a>
			    <a class="btn btn-primary" id="yesBtn">Si</a>
			</div>
        </div>
    </body>
</html>