<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:replace="teca_digitale :: header"></head>
    <body>
        <script src="js/upload.js" type="text/javascript"></script>
        <div th:replace="teca_digitale :: heading"></div>
        <div class="container-fluid">
        	<div class="row-fluid">
        		<div class="span2">
        			<div th:replace="teca_digitale :: menu"></div>
        		</div>
        		<div class="span10 row">
        			<div class="page-menu-header"><h3>Upload Aggiornamento</h3></div>
        		</div>
        		<div class="span9 row">
                    <div class="span12">
	        			<ul class="nav nav-tabs" id="uploadMode">
						    <li class="active"><a id="uploadClientMode">Modalità Client</a></li>
						    <li><a id="uploadServerMode">Modalità Server</a></li>
						</ul>
	                    <form class="form-horizontal" name="uploadfrm" id="uploadForm" method="POST" enctype="multipart/form-data">
	                        <input type="hidden" name="user" id="user" th:value="${userID}"/>
	                        <input type="hidden" id="updateCall" value="y" />
	                        <div class="control-group"></div>
	                        <div class="control-group"></div>
	                    	<div class="control-group" id="fileClientField">
	                    		<label class="control-label" for="inputFile"><b>File locale</b></label>
	                            <div class="controls">
	                            	<input type="file" id="inputFile" name="file" size="50" />
	                            	<input type="button" value="Scegli File" class="btn btn-default" onclick="$('#inputFile').trigger('click')" />
	                            	<span id="displayFileName"></span>
	                            </div>
	                    	</div>
	                        <div class="control-group" id="fileServerField" style="display: none">
	                            <label class="control-label" for="directoryServer" title="Path della directory da cui cercare il file"><b>Directory</b></label>
	                            <div class="controls">
		                            <input type="text" name="directoryServer" id="directoryServer" th:value="${@uploadBaseDir}" />
		                            <input type="button" class="btn btn-default" id="directoryServerSearch" value="Ricerca" />
		                            
		                            <div>
		                            	<label for="type_compress" class="radio inline"><input type="radio" name="type_upload_search" value="compress" id="type_compress" checked="checked" /> ZIP</label>
			                    	    <label for="type_folder" class="radio inline"><input type="radio" name="type_upload_search" value="folder" id="type_folder" /> Directory</label>
		                            </div>
		                        </div>
	                        </div>
	                        <div class="control-group" id="fileServerInfoField" style="display: none">
	                            <span class="control-label" title="File scelto per l'upload"><b>File:</b></span>
	                            <div class="controls">
	                            	<div id="fileServer"></div>
	                            </div>
	                        </div>
	                        <div class="control-group">
	                            <label class="control-label" for="project"><b>Nome Progetto</b></label>
	                            <div class="controls">
	                            	<select name="project" id="project"></select>
	                            	<div id="error_project" class="alert alert-error" style="display: none; margin-left: 10px">Nome del progetto non specificato</div>
	                            </div>
	                        </div>
	                        <div class="control-group" id="buttonClientField">
	                        	<div class="controls">
	                            	<input class="btn btn-primary" type="button" id="btnUpload" value="Upload File" />
	                            </div>
	                        </div>
	                        <div class="control-group" id="buttonServerField" style="display: none">
	                        	<div class="controls">
	                            	<input class="btn btn-primary" type="button" id="btnUploadServer" value="Upload File" />
	                            </div>
	                        </div>
	                        <div class="control-group">
	                        	<div class="span8 offset2" style="display: none" id="serverFiles">
	                            	<div class="control-group"></div>
                        			<div class="control-group"></div>
	                                <h4>Server Files</h4>
	                                <table id="uploadServerFileTable" class="table table-bordered table-striped"></table>
	                                <div class="control-group"></div>
	                            </div>
	                        </div>
	                    </form>
	                    <div class="row-fluid">
	                    	<div id="error_display" class="span8 offset1 alert alert-error" style="display: none"></div>
	                    	
	                    	<div class="span8 offset1" id="progress_box" style="display: none">
	                    		<h5 id="status" class="alert alert-info"></h5>
	                    		<div class="progress progress-striped">
								    <div class="bar"><span class="percent"></span></div>
								</div>
	                    	</div>
	                    	
	                    	<div class="span8 offset1" id="retryBtn" style="display: none">
	                    		<input type="button" value="Riprova" class="span2 btn btn-default" onclick="window.location.reload(true);" />
	                    	</div>
	                    </div>
	                </div>
	            </div>
	        </div>
        </div>
        <footer th:replace="teca_digitale :: footer"></footer>
        <div class="modal hide fade" id="op-executing-warning">
        	<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h4>Upload in esecuzione</h4>
			</div>
			<div class="modal-body">
			    <p><div class="alert alert-warning">Upload attualmente in esecuzione. 
			    Sei sicuro di voler cambiare pagina?</div></p>
			</div>
			<div class="modal-footer">
			    <a class="btn btn-default" id="noBtn">No</a>
			    <a class="btn btn-primary" id="yesBtn">Si</a>
			</div>
        </div>
    </body>
</html>
